p {
    font-size: 17px;
    text-align: justify;
}

h2 {
    color: #00749a;
}

.note-screen-cap{
    background-color: yellow;
    font-size: 13px;
}

.style-list li {
    font-family: "Avenir Next", Arial, sans-serif;
    padding-bottom: 10px;
    color: #666;
    font-size: 15px;
}